doctype html
html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Comments
    body
        h1.asds#asd test pasdfug #{title}

        for comment in comm
            div.asd
                p= comment.name
                p= comment.title
                p= comment.comment
